# -*- mode: snippet -*-
# name: data
# key: data
# --
import time, re, os, sys
import just
from datetime import datetime
from datetime import date
import pandas as pd
import numpy as np
from collections import Counter, defaultdict
from itertools import *
from dateutil.parser import parse

pd.set_option("display.precision", 10)
pd.set_option("precision", 10)
pd.set_option('display.max_columns', 500)